{% extends "templates/layout.html" %}

{% block body %}

<div class="main-wrapper">
    
    <div class="form-group">
        <h3>{{username}}</h3>
        {% if follow_button %}
            <p>
                {% if follows is sameas false %}
                    <button id="follow-button">+ Follow</button>
                {% else %}
                    <button id="follow-button">	&#10003; Following</button>
                {% endif %}
            <p>
        {% endif %}
        <hr>
    </div>

    {% include "templates/user_posts.html" %}
    
<div>
{% endblock %}